! =========================================================================================
! XOBLITE -> an advanced "extended shell" for Microsoft Windows 10
! Copyright © 2002-2020 Karl Henrik Henriksson [qwilk/@xoblite]
! Copyright © 2001-2004 The Blackbox for Windows Development Team
! http://xoblite.net/ + https://github.com/xoblite/
! =========================================================================================

! ================================================ xoblite [theme specific settings] ======

! ----------------------------------------- Design ------
xoblite.styleFile: $CurrentTheme$\styles\macindows.style

! ------------------------------------------- Menu ------
xoblite.menu.rounded: true
xoblite.menu.separators: true
xoblite.menu.transparency.alpha: 255
xoblite.menu.title.transparency.alpha: 255
xoblite.menu.frame.transparency.alpha: 255
xoblite.menu.active.transparency.alpha: 255
xoblite.menu.grip.transparency.alpha: 255

! ---------------------------------------- Toolbar ------
xoblite.toolbar.hidden: false
xoblite.toolbar.placement: Manual x10 y10
xoblite.toolbar.vertical: false
xoblite.toolbar.horizontal.width: 1900
!xoblite.toolbar.vertical.width: 80
xoblite.toolbar.transparency.alpha: 255
xoblite.toolbar.label.transparency.alpha: 255
xoblite.toolbar.windowlabel.transparency.alpha: 255
xoblite.toolbar.clock.transparency.alpha: 255
xoblite.toolbar.button.transparency.alpha: 255
xoblite.toolbar.rounded: true
xoblite.toolbar.onTop: false
xoblite.toolbar.snapToEdges: true

! ---------------------------------------- Taskbar ------
xoblite.taskbar.mode: Bars
xoblite.taskbar.max.items: 7
xoblite.taskbar.sorting: Disabled
xoblite.taskbar.currentOnly: false
xoblite.taskbar.flashing: false
xoblite.taskbar.saturation: 128
xoblite.taskbar.hue: 192
xoblite.taskbar.active.SatHue: false
xoblite.taskbar.active.transparency.alpha: 255
xoblite.taskbar.active.live.preview: false
xoblite.taskbar.inactive.background: false
xoblite.taskbar.tooltips: true

! ------------------------------------------- Dock ------
xoblite.dock.hidden: true
xoblite.dock.placement: Manual x-20 y20
xoblite.dock.vertical: true
xoblite.dock.puzzle.positioning: true
xoblite.dock.transparency.alpha: 255
xoblite.dock.onTop: false
xoblite.dock.snapToEdges: false

! ---------------------------------------- Console ------
xoblite.console.hidden: true
xoblite.console.placement: Manual xC y-57
xoblite.console.maximized: false
xoblite.console.maximized.width: 90
xoblite.console.maximized.messages: 35
xoblite.console.restored.width: 90
xoblite.console.restored.messages: 1
xoblite.console.transparency.alpha: 110
xoblite.console.desktop.mode: false
xoblite.console.rounded: false
xoblite.console.padding: 0
!xoblite.console.font: Segoe UI/9/Normal

! ---------------------------------------- Desktop ------
xoblite.desktop.clock.hidden: true
xoblite.desktop.clock.type: Binary
xoblite.desktop.clock.placement: Manual xC yC
xoblite.desktop.clock.transparency.alpha: 255
xoblite.desktop.clock.font: Segoe UI/9/Normal

xoblite.desktop.weekday.hidden: true
xoblite.desktop.weekday.placement: Manual x45 yC
xoblite.desktop.weekday.transparency.alpha: 255
xoblite.desktop.weekday.font: Segoe UI/9/Normal

xoblite.desktop.date.hidden: true
xoblite.desktop.date.format: %B %#d %Y
xoblite.desktop.date.placement: Manual x-48 yC
xoblite.desktop.date.transparency.alpha: 255
xoblite.desktop.date.font: Segoe UI/9/Normal

xoblite.desktop.widget.color: #181818

xoblite.desktop.indicator.hidden: true
xoblite.desktop.border.hidden: true

xoblite.desktop.x1click.override: 
xoblite.desktop.x2click.override: 

! ---------------------------------------- Plugins ------
xoblite.plugins.hidden: false

! ----------------------------------------- Global ------
xoblite.write.protection: false

! =========================================================================================
